* { box-sizing: border-box; }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
}

main {
    margin: 1rem 1rem 0.25rem;
    padding: 1rem 1.25rem 1rem 1.75rem;
    background-color: #fffdd7;
    border-radius: 1rem;
}

h1 { text-align: center; font-size: 2.25rem; }

li { margin-bottom: 0.55rem; }

li p { margin-block-start: 0.10rem; margin-block-end: 0.35rem; }

.tx-codigo {
    display: block;
    width: max-content; /* Se ajusta solo al ancho del texto */
    color: #6a2c00;
    background-color: rgb(255, 181, 128, 0.35);
    padding: 0.10rem 0.45em 0.15rem;
    border-radius: 0.35rem;
}

.negrita { font-weight: 600; }

.identificacion { color: #1212ff; font-weight: 700; }

.solucion { color: #00006e; font-weight: 700; }

.autor {
    color:#fffef2;
    text-align: center;
    font-weight: 800;
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
 }